* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: Arial, sans-serif;
    /* border: 1px solid red; */
}

.logo {
    padding-top: 160px;
}

.center {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 272px;
    height: 92px;
    margin: 18px;
}

.inputbox {
    width: 40%;
    height: 5.5vh;
    border-radius: 20px;
    border: 0.5px solid #dddddd;
    padding: 18px;
    padding-left: 45px;
    padding-right: 80px;
    font-size: 18px;
    /* transition: 0.3s; */
    outline: none;
    cursor: pointer;
}
input[type="text"]:hover{
    box-shadow: 0 0 0.8px 0.1px #888;
} 

input[type="text"]:focus {
    box-shadow: 0 0 0.8px 0.5px #888;
}

.search {
    position: relative;
}

.no1 {
    position: absolute;
    left: 31%;
    top: 19%;
    color: #B3B7BC !important;
}

.no2 {
    position: absolute;
    left: 64.7%;
    top: 19%;
}

.no3 {
    position: absolute;
    left: 67%;
    top: 19%;

}

button {
    margin: 10px;
    padding: 12px 20px;
    background-color: #F8F9FA;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid #f8f9fa;
    /* transition: 0.3s; */
    cursor: pointer;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    background-color: #f8f9fa;
}

svg {
    width: 25px;
}

.lan {
    margin-bottom: 17%;
}

.lan span {
    font-size: 14px;
    margin-top: 20px;
}

.lan a {
    text-align: center;
    padding: 3px;
}

.language {
    cursor: pointer;
    margin-right: 5px;
}




@media (max-width: 576px) {
    .logo {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .inputbox {
        margin-left: 25px;
        margin-right: 25px;
        width: 100%;
    }

    .no1 {
        position: absolute;
        left: 10%;
        top: 19%;
        color: #B3B7BC !important;
    }

    .no2 {
        position: absolute;
        left: 70%;
        top: 19%;
    }

    .no3 {
        position: absolute;
        left: 80%;
        top: 19%;

    }

    button {
        margin-top: 10%;
        padding: 12px 20px;
        background-color: #F8F9FA;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: 0.5s;
        cursor: pointer;
    }

    button:hover {
        border: 1px solid #888;
    }

    .lan {
        margin-bottom: 17%;
    }

    .lan span {
        padding: 20px;
        font-size: 14px;
        margin-top: 20px;
        font-weight: bold;
    }

    .lan a {
        padding: 3px;
        text-decoration: none;
        font-weight: 100;
        line-height: 25px;
    }
}